<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated notesmodel -->
      <package
            uri="http://notesmodel/1.0"
            class="com.wimi.nve.model.notesmodel.NotesmodelPackage"
            genModel="model/notesmodel.genmodel"/>
   </extension>

</plugin>
